* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  border-radius: 20px;
}

.btns {
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background: goldenrod;
  color: black;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background: gold;
}

.title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
}

.todo {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: cursive;
}

.todo input {
  margin-right: 10px;
}

.todo button {
  margin-left: 10px;
  padding: 5px 20px;
}
